@import "./variables";

.cover-page{
    background-image: url("../media/chichen-itza.jpg");
    background-size: cover;
    height: 100rem;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
   border: solid 1rem white;
   text-align: center;
   -webkit-text-stroke: black .5rem;
}
.welcome{
    font-size: 12rem;
    display: flex;
    @include phone{
        font-size: 7rem;
    }
    
}
.book{
    font-size: 11rem;
    display: flex;
    @include phone{
        font-size: 6rem;
    }
}
