@import "./variables";

.final-page{
    background-image: url("../media/town.jpg");
    background-size: cover;
    background-position: center;
    height: 100rem;
    border: solid 1rem white;
    align-content: center;
    
}

.hope{
    height: 10rem;
    font-size: 12rem;
    text-align: center;
    margin: 10rem;

    @include tablet{
      font-size: 9rem;
      margin: 0rem;
      height: 25rem;
    }
}

  
  .button-sect{
    height: 70rem;
    display: flex;
    justify-content: space-evenly;

    @include tablet{
      flex-direction: column;
      height: 89rem;
    }
  }
  
  .button {
    display: inline-block;
    flex-direction: column;
    box-sizing: border-box;
    height: 65vh;
    width: 25vw;
    border-radius: 10rem;
    position: relative;
    overflow: hidden;
    border: solid 1rem black;

    @include tablet{
      height: 33vh;
      width: 35rem;
    }
  }
  
  .button:active {
    transform: translateY(8px);
  }
  
  .button::after {
    display: none;
    content: "";
    position: absolute;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    top: 50%;
    left: 50%;
  
    animation: ripple 0.75s;
    opacity: 0;
  }
  .button:focus:not(:active)::after {
    display: block;
  }
  
  @keyframes ripple {
    from {
      opacity: 0.25;
      transform: scale(0);
    }
    to {
      opacity: 0;
      transform: scale(10);
    }
  }
  
  .flights{
    background-image: url("../media/plane.jpg");
    background-position: center;
    background-size: cover;
    @include tablet{
      left: 1rem;
      top: -2rem;
    }
  }
  
  .hotels{
    background-image: url("../media/hotels.jpg");
    background-position: center;
    background-size: cover;

    @include tablet{
      left: 34rem;
      top: -9rem;
    }
  }
  
  .cars{
    background-image: url("../media/cars.jpg");
    background-position: center;
    background-size: cover;

    @include tablet{
      left: 1rem;
      top: -16rem;
    }
  }
  