@import "./variables";

.streets{
    background-image: url("../media/streets.jpg");
    height: 100rem;
    background-size: cover;
    background-position: center;
    border: solid 1rem white;
    display: flex;
    align-items: center;
    flex-direction: column;
   
    
}

.places-to-visit{
    -webkit-text-stroke: black .5rem;
    font-size: 12rem;
    color: white;
    text-align: center;
   @include tablet{
        font-size: 9rem;
        margin: 2rem;
    }
     @include phone{
    margin: 0;
    font-size: 7rem;
    }

}

.four-images{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 122rem;
    @include tablet{
        width: 62rem;
        height: 81rem;
        flex-direction: column;
    }
    @include phone{
        width: 29rem;
        height: 77rem;
    }
}
.cancun{
    background-image: url("../media/cancun.jpg");
    background-size: cover;
    background-position: center;
    height: 43rem;
    width: 26rem;
    border: solid .5rem black;
    text-align: center;
    font-size: 5rem;
    color: white;
    -webkit-text-stroke: black .3rem;

}

.top-half-chichen-itza{
    background-image: url("../media/top-half-chichen-itza.jpg");
    background-size: cover;
    background-position: center;
    height: 43rem;
    width: 26rem;
    border: solid .5rem black;
    text-align: center;
    font-size: 5rem;
    color: white;
    -webkit-text-stroke: black .3rem;


}

.mexico-city{
    background-image: url("../media/mexico-city.jpg");
    background-size: cover;
    background-position: center;
    height: 43rem;
    width: 26rem;
    border: solid .5rem black;
    text-align: center;
    font-size: 5rem;
    color: white;
    -webkit-text-stroke: black .3rem;


}

.playa-del-carmen{
    background-image: url("../media/playa-del-carmen.jpg");
    background-size: cover;
    background-position: center;
    height: 43rem;
    width: 26rem;
    border: solid .5rem black;
    text-align: center;
    font-size: 5rem;
    color: white;
    -webkit-text-stroke: black .3rem;


}
.image{
    transition: all .3s;
    outline-offset: .3rem;

    @include tablet{
        width: 60rem;
        height: 16rem;
    }
    @include phone{
        width: 27rem;
        height: 13rem;
    }
}
.image:hover{
    transform: scale(1.2);
    border-radius: 2rem;
    outline: .5rem solid black;
    z-index: 2;

    @include tablet{
        transform: scale(1);
    }
}

.four-images:hover .image:not(:hover){
    transform: scale(0.9);
    filter: grayscale(100%);
}

.cancun-text{
    font-size: 3rem;
    color: white;
    
}