html{
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Luckiest Guy', cursive;
    background-color: black;
    border: solid 1rem black;

}

.cover-page{
    background-image: url("../media/chichen-itza.jpg");
    background-size: cover;
    height: 100rem;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
   border: dashed 1rem white;
   text-align: center;
}
.welcome{
    font-size: 11rem;
    display: flex;
    
}
.book{
    font-size: 7rem;
    display: flex;
}
.book-button{
    display: flex;
    background-color: rgba(0,0,0,0);
    border: none;
    color: white;
    font-family: 'Luckiest Guy', cursive;
}

.beach{
    background-image: url("../media/beach.jpg");
    background-size: cover;
    height: 100rem;
    border: dashed 1rem white;
    align-items: center;
}
.beach-text{
    font-size: 9rem;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}
.overhead-beach{
    background-image: url("../media/overhead-beach.jpg");
    height: 10rem;
    width: 10rem;
    background-size: cover;
    display: flex;
}