.cover-page {
  background-image: url("../media/chichen-itza.jpg");
  background-size: cover;
  height: 100rem;
  background-position: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: solid 1rem white;
  text-align: center;
  -webkit-text-stroke: black .5rem;
}

.welcome {
  font-size: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 450px) {
  .welcome {
    font-size: 7rem;
  }
}

.book {
  font-size: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.book-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: white;
  font-family: 'Luckiest Guy', cursive;
}

.beach {
  background-image: url("../media/beach.jpg");
  background-size: cover;
  background-position: center;
  height: 100rem;
  border: solid 1rem white;
  -ms-flex-line-pack: center;
      align-content: center;
}

.beach-text {
  font-size: 12rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-text-stroke: black .5rem;
}

@media (max-width: 450px) {
  .beach-text {
    font-size: 7rem;
  }
}

@media (max-width: 768px) {
  .beach-text {
    font-size: 9rem;
    margin: 4rem;
  }
}

.three-beach-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 450px) {
  .three-beach-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 35rem;
  }
}

.card {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  position: relative;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 50rem;
}

.card-side {
  height: 40rem;
  width: 40rem;
  font-size: 3rem;
  color: white;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  .card-side {
    height: 36rem;
    width: 18rem;
  }
}

@media (max-width: 450px) {
  .card-side {
    height: 20rem;
    width: 20rem;
  }
}

.card-side-front {
  background-image: url("../media/overhead-beach.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
  border: groove 2rem white;
}

.card-side-back {
  background-color: black;
  font-size: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transition: all 1s;
  transition: all 1s;
  border: groove 2rem white;
}

@media (max-width: 450px) {
  .card-side-back {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .card-side-back {
    font-size: 3rem;
  }
}

.card:hover .card-side-front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card:hover .card-side-back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.card2 {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  position: relative;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 50rem;
}

.card-side2 {
  height: 40rem;
  width: 40rem;
  font-size: 15px;
  color: white;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.card-side-front2 {
  background-image: url("../media/shoreline.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
  border: groove 2rem white;
}

.card-side-back2 {
  background-color: black;
  font-size: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transition: all 1s;
  transition: all 1s;
  border: groove 2rem white;
}

@media (max-width: 450px) {
  .card-side-back2 {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .card-side-back2 {
    font-size: 3rem;
  }
}

.card2:hover .card-side-front2 {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card2:hover .card-side-back2 {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.card3 {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  position: relative;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 50rem;
}

.card-side3 {
  height: 40rem;
  width: 40rem;
  font-size: 15px;
  color: white;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.card-side-front3 {
  background-image: url("../media/more-beaches.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
  border: groove 2rem white;
}

.card-side-back3 {
  background-color: black;
  font-size: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transition: all 1s;
  transition: all 1s;
  border: groove 2rem white;
}

@media (max-width: 450px) {
  .card-side-back3 {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .card-side-back3 {
    font-size: 3rem;
  }
}

.card3:hover .card-side-front3 {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card3:hover .card-side-back3 {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.city {
  background-image: url("../media/city.jpg");
  height: 100rem;
  background-size: cover;
  background-position: center;
  border: solid 1rem white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.city-life {
  font-size: 12rem;
  color: white;
  -webkit-text-stroke: black .5rem;
  margin: 5rem;
}

@media (max-width: 450px) {
  .city-life {
    margin: 0;
    font-size: 5rem;
  }
}

@media (max-width: 768px) {
  .city-life {
    font-size: 9rem;
  }
}

.city-text {
  font-size: 5rem;
  color: white;
  background-color: black;
  width: 90rem;
  margin: 0;
}

@media (max-width: 450px) {
  .city-text {
    width: 33rem;
    font-size: 2.5rem;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .city-text {
    font-size: 3rem;
    width: 45rem;
  }
}

.overhead-city {
  background-image: url("../media/overhead-city.jpg");
  height: 61rem;
  width: 50rem;
  background-size: cover;
}

@media (max-width: 450px) {
  .overhead-city {
    width: 25rem;
    height: 30rem;
  }
}

@media (max-width: 768px) {
  .overhead-city {
    width: 40rem;
  }
}

.city-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 150rem;
}

@media (max-width: 450px) {
  .city-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100rem;
    width: 40rem;
  }
}

@media (max-width: 768px) {
  .city-content {
    width: 85vw;
  }
}

.streets {
  background-image: url("../media/streets.jpg");
  height: 100rem;
  background-size: cover;
  background-position: center;
  border: solid 1rem white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.places-to-visit {
  -webkit-text-stroke: black .5rem;
  font-size: 12rem;
  color: white;
}

@media (max-width: 450px) {
  .places-to-visit {
    margin: 0;
    font-size: 5rem;
  }
}

@media (max-width: 768px) {
  .places-to-visit {
    font-size: 9rem;
    margin: 2rem;
  }
}

.four-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 175rem;
}

@media (max-width: 768px) {
  .four-images {
    width: 62rem;
    height: 81rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.cancun {
  background-image: url("../media/cancun.jpg");
  background-size: cover;
  background-position: center;
  height: 45rem;
  width: 34rem;
  border: solid 1rem black;
}

@media (max-width: 768px) {
  .cancun {
    width: 60rem;
    height: 16rem;
  }
}

.top-half-chichen-itza {
  background-image: url("../media/top-half-chichen-itza.jpg");
  background-size: cover;
  background-position: center;
  height: 45rem;
  width: 34rem;
  border: solid 1rem black;
}

@media (max-width: 768px) {
  .top-half-chichen-itza {
    width: 60rem;
    height: 16rem;
  }
}

.mexico-city {
  background-image: url("../media/mexico-city.jpg");
  background-size: cover;
  background-position: center;
  height: 45rem;
  width: 34rem;
  border: solid 1rem black;
}

@media (max-width: 768px) {
  .mexico-city {
    width: 60rem;
    height: 16rem;
  }
}

.playa-del-carmen {
  background-image: url("../media/playa-del-carmen.jpg");
  background-size: cover;
  background-position: center;
  height: 45rem;
  width: 34rem;
  border: solid 1rem black;
}

@media (max-width: 768px) {
  .playa-del-carmen {
    width: 60rem;
    height: 16rem;
  }
}

.image {
  -webkit-transition: all .3s;
  transition: all .3s;
  outline-offset: .5rem;
}

.image:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  border-radius: 2rem;
  outline: 1rem solid black;
  z-index: 2;
}

@media (max-width: 768px) {
  .image:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.four-images:hover .image:not(:hover) {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.cancun-text {
  font-size: 3rem;
  color: white;
}

.final-page {
  background-image: url("../media/town.jpg");
  background-size: cover;
  background-position: center;
  height: 100rem;
  border: solid 1rem white;
  -ms-flex-line-pack: center;
      align-content: center;
}

.hope {
  height: 10rem;
  font-size: 12rem;
  text-align: center;
}

.button-sect {
  height: 80rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.button {
  display: inline-block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 30vh;
  width: 50vw;
  -webkit-box-shadow: 0 18px #999;
          box-shadow: 0 18px #999;
  border-radius: 10rem;
  position: relative;
  overflow: hidden;
}

.button:active {
  -webkit-box-shadow: 0 10px #666;
          box-shadow: 0 10px #666;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.button::after {
  display: none;
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  top: 50%;
  left: 50%;
  -webkit-animation: ripple 0.75s;
          animation: ripple 0.75s;
  opacity: 0;
}

.button:focus:not(:active)::after {
  display: block;
}

@-webkit-keyframes ripple {
  from {
    opacity: 0.25;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(10);
            transform: scale(10);
  }
}

@keyframes ripple {
  from {
    opacity: 0.25;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(10);
            transform: scale(10);
  }
}

.flights {
  background-image: url(https://images.unsplash.com/photo-1539201299177-2af0fae3d77f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  background-position: center;
  background-size: cover;
  left: 10vw;
}

.hotels {
  background-image: url(https://images.unsplash.com/photo-1517840901100-8179e982acb7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
  background-position: center;
  background-size: cover;
  left: 25vw;
}

.cars {
  background-image: url(https://images.unsplash.com/photo-1503376780353-7e6692767b70?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
  background-position: center;
  background-size: cover;
  left: 40vw;
}

html {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Luckiest Guy', cursive;
  background-color: black;
  border: solid 1rem black;
}

@media (max-width: 450px) {
  html {
    border: none;
  }
}
/*# sourceMappingURL=style.css.map */