.cover-page {
  background-image: url("../media/chichen-itza.jpg");
  background-size: cover;
  height: 100rem;
  background-position: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: solid 1rem white;
  text-align: center;
  -webkit-text-stroke: black .5rem;
}

.welcome {
  font-size: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 450px) {
  .welcome {
    font-size: 5rem;
  }
}

.book {
  font-size: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.book-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: white;
  font-family: 'Luckiest Guy', cursive;
}

.beach {
  background-image: url("../media/beach.jpg");
  background-size: cover;
  height: 100rem;
  border: solid 1rem white;
  -ms-flex-line-pack: center;
      align-content: center;
}

.beach-text {
  font-size: 12rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-text-stroke: black .5rem;
}

@media (max-width: 450px) {
  .beach-text {
    font-size: 5rem;
  }
}

.two-beach-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 450px) {
  .two-beach-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 35rem;
  }
}

.card {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  position: relative;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 50rem;
}

.card-side {
  height: 40rem;
  width: 40rem;
  font-size: 3rem;
  color: white;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  .card-side {
    height: 30rem;
    width: 30rem;
  }
}

@media (max-width: 450px) {
  .card-side {
    height: 25rem;
    width: 25rem;
  }
}

.card-side-front {
  background-image: url("../media/overhead-beach.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
  border: groove 2rem white;
}

.card-side-back {
  background-color: black;
  font-size: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transition: all 1s;
  transition: all 1s;
  border: groove 2rem white;
}

@media (max-width: 450px) {
  .card-side-back {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .card-side-back {
    font-size: 4rem;
  }
}

.card:hover .card-side-front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card:hover .card-side-back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.card2 {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  position: relative;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 50rem;
}

.card-side2 {
  height: 40rem;
  width: 40rem;
  font-size: 15px;
  color: white;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.card-side-front2 {
  background-image: url("../media/shoreline.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
  border: groove 2rem white;
}

.card-side-back2 {
  background-color: black;
  font-size: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transition: all 1s;
  transition: all 1s;
  border: groove 2rem white;
}

@media (max-width: 450px) {
  .card-side-back2 {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .card-side-back2 {
    font-size: 4rem;
  }
}

.card2:hover .card-side-front2 {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card2:hover .card-side-back2 {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.places-to-visit {
  font-size: 12rem;
  color: white;
}

@media (max-width: 450px) {
  .places-to-visit {
    margin: 0;
    font-size: 5rem;
  }
}

.cancun {
  background-image: url("../media/cancun.jpg");
  background-size: cover;
  height: 20rem;
  width: 20rem;
}

.top-half-chichen-itza {
  background-image: url("../media/top-half-chichen-itza.jpg");
  background-size: cover;
  height: 20rem;
  width: 20rem;
}

html {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Luckiest Guy', cursive;
  background-color: black;
  border: solid 1rem black;
}

@media (max-width: 450px) {
  html {
    border: none;
  }
}

.city {
  background-image: url("../media/city.jpg");
  height: 100rem;
  background-size: cover;
  background-position: center;
  border: solid 1rem white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.city-life {
  font-size: 12rem;
  color: white;
  -webkit-text-stroke: black .5rem;
}

@media (max-width: 450px) {
  .city-life {
    margin: 0;
    font-size: 5rem;
  }
}

.city-text {
  font-size: 5rem;
  color: white;
  background-color: black;
  width: 90rem;
  margin: 0;
}

@media (max-width: 450px) {
  .city-text {
    width: 33rem;
    font-size: 2.5rem;
    text-align: center;
  }
}

.overhead-city {
  background-image: url("../media/overhead-city.jpg");
  height: 61rem;
  width: 50rem;
  background-size: cover;
}

@media (max-width: 450px) {
  .overhead-city {
    width: 25rem;
    height: 30rem;
  }
}

.city-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 150rem;
}

@media (max-width: 450px) {
  .city-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100rem;
    width: 40rem;
  }
}

.streets {
  background-image: url("../media/streets.jpg");
  height: 100rem;
  background-size: cover;
  background-position: center;
  border: solid 1rem white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-text-stroke: black .5rem;
}

.places-to-visit {
  font-size: 12rem;
  color: white;
}

@media (max-width: 450px) {
  .places-to-visit {
    margin: 0;
    font-size: 5rem;
  }
}

.cancun {
  background-image: url("../media/cancun.jpg");
  background-size: cover;
  height: 20rem;
  width: 20rem;
}

.top-half-chichen-itza {
  background-image: url("../media/top-half-chichen-itza.jpg");
  background-size: cover;
  height: 20rem;
  width: 20rem;
}
/*# sourceMappingURL=style.css.map */